In [1]:
#Waze API install
pip install WazeRouteCalculator

Requirement already satisfied: WazeRouteCalculator in /usr/local/lib/python3.7/dist-packages (0.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from WazeRouteCalculator) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->WazeRouteCalculator) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->WazeRouteCalculator) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->WazeRouteCalculator) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->WazeRouteCalculator) (3.0.4)

#Libriries and Functions

In [2]:
#importing libs
#import WazeRouteCalculator as waze
import pandas as pd
import WazeRouteCalculator
import logging
import time
from datetime import timedelta
from datetime import datetime
from google.colab import files
uploaded = files.upload()
logger = logging.getLogger('WazeRouteCalculator.WazeRouteCalculator')
logger.setLevel(logging.DEBUG)
handler = logging.StreamHandler()
logger.addHandler(handler)

Saving 921_13Station.xlsx to 921_13Station (1).xlsx

In [3]:
import WazeRouteCalculator
import logging
import time

logger = logging.getLogger('WazeRouteCalculator.WazeRouteCalculator')
logger.setLevel(logging.DEBUG)
handler = logging.StreamHandler()
logger.addHandler(handler)

In [4]:
def FullWayBus(From_Lat, To_Lat):
  #logger = logging.getLogger('WazeRouteCalculator.WazeRouteCalculator')
  #logger.setLevel(logging.DEBUG)
  #handler = logging.StreamHandler()
  #logger.addHandler(handler)

  from_address = From_Lat
  to_address = To_Lat
  region = 'IL'
  route = WazeRouteCalculator.WazeRouteCalculator(from_address, to_address, region)
  time = route.calc_route_info()
  return time[0]

In [5]:
#Converting decimal time to original time
def ConvertToOrig(count):
  hours = count // 3600
  minutes = count // 60 - hours * 60

  lent = "%d:%02d" % (hours, minutes)
  print(lent)

#Colecting data with Waze API

In [6]:
#loading the data with station coordinates
df = pd.read_excel ('921_13Station.xlsx')
Lat = df.loc[:,'Lat']
Lon = df.loc[:,'Lon']
n = len(Lat)-1
count = 0
numT = 0
df2 = df
df2

    Station  Dist        Lat        Lon
0     42658   0.0  32.793372  34.958985
1     42362   1.3  32.789609  34.962117
2     40964   1.9  32.784590  34.962626
3     40958   2.2  32.781207  34.962876
4     40897   3.2  32.772031  34.962995
5     40852   4.1  32.764238  34.961821
6     42286   4.6  32.759921  34.961275
7     40851   5.5  32.752365  34.962668
8     41457   7.2  32.737043  34.966128
9     41621   8.4  32.725875  34.966216
10    41643   9.4  32.717596  34.968597
11    40850   9.9  32.713239  34.970693
12    42963  10.3  32.710042  34.970338

In [ ]:
#RoutesNum - this is the number of the routes we want(in our project this is 921 line)
#StationNum - the number of station we are checking, by deafult we are checking only 12
#DelayTime -  this is time for waze API, the API need some delay time when testing between coordinates.
RoutesNum = 54
StationNum = 12
DelayTime = 15
# Create waze df data. The entervals between each station 15 seconds(DelayTime = 15).
dfWaze = pd.DataFrame(columns=['Time','w2', 'w3', 'w4','w5','w6','w7', 'w8', 'w9','w10','w11','w12','w13'])
count = 0
arr = [0,0,0,0,0,0,0,0,0,0,0,0]
for k in range(0,RoutesNum):
  count = 0
  #print(k)
  for i in range(StationNum):
    st = str(Lat[i])+','+str(Lon[i])
    st2 = str(Lat[i+1])+','+str(Lon[i+1])
    numT = FullWayBus(st, st2)
    count = count + ((int(numT)*60)+20+(numT*60)%60)
    #print((int(numT)*60)+(numT*60)%60)
    now = datetime.now()+ timedelta(hours=3)
    current_time = now.strftime("%H")
    arr[i] = count
    time.sleep(DelayTime)
  #print(arr)
  dfWaze = dfWaze.append({'Time':current_time,
                  'w2': arr[0],
                  'w3': arr[1],
                  'w4': arr[2],
                  'w5': arr[3],
                  'w6': arr[4],
                  'w7': arr[5],
                  'w8': arr[6],
                  'w9': arr[7],
                  'w10': arr[8],
                  'w11': arr[9],
                  'w12': arr[10],
                  'w13': arr[11]},ignore_index=True)
dfWaze

In [10]:
dfWaze

  Time     w2     w3     w4     w5  ...     w9    w10    w11    w12    w13
0   10  147.0  228.0  268.0  407.0  ...  710.0  782.0  844.0  889.0  934.0
1   10  140.0  222.0  262.0  401.0  ...  705.0  778.0  841.0  886.0  934.0

[2 rows x 13 columns]

In [ ]:
dfWaze.to_excel('output_dfWaze.xls')